# ==================== 基础依赖 ====================
packaging
setuptools==82.0.1
wheel==0.47.0

# ==================== 接口自动化测试 ====================
pytest==9.0.3
pytest-html==4.2.0
pytest-metadata==3.1.1
allure-pytest==2.16.0
allure-python-commons==2.16.0
requests==2.34.2

# ==================== 数据库校验 ====================
pymysql==1.2.0

# ==================== UI 自动化测试 ====================
playwright
pytest-playwright